/****** Object:  StoredProcedure [dbo].[sp_GetActiveOrdersByCarrier]    Script Date: 6/15/2026 8:45:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetActiveOrdersByCarrier]
    @CarrierID VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        o.OrderID,
        o.CustomerID,
        o.CustomerTier,
        o.OrderValue,
        o.RequiredDate,
        d.ScheduledETA,
        d.DelayMinutes,
        DATEDIFF(HOUR, GETDATE(), o.RequiredDate) AS HoursToDeadline
    FROM dbo.Orders o
    JOIN dbo.Deliveries d ON o.OrderID = d.OrderID
    WHERE d.CarrierID = @CarrierID
      AND o.Status NOT IN ('Delivered', 'Cancelled')
    ORDER BY o.CustomerTier DESC, o.RequiredDate ASC;
END;