/****** Object:  StoredProcedure [dbo].[sp_GetImmuneScanData]    Script Date: 6/15/2026 8:47:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetImmuneScanData]
AS
BEGIN
    SET NOCOUNT ON;

    EXEC dbo.sp_GetCarrierAnomalies
        @LookbackHours  = 6,
        @MinDelayMin    = 15,
        @MinOccurrences = 3;

    SELECT
        COUNT(*)          AS BreachCount,
        SUM(o.OrderValue) AS TotalRevenue,
        MAX(s.SLAStatus)  AS WorstStatus
    FROM dbo.SLA s
    JOIN dbo.Orders o ON s.OrderID = o.OrderID
    WHERE s.SLAStatus IN ('Warning','Breach','Critical')
      AND s.UpdatedAt >= DATEADD(HOUR, -2, GETDATE());

    SELECT
        ProductID,
        ProductName,
        QuantityOnHand,
        ReservedQuantity,
        SafetyStock,
        (QuantityOnHand - ReservedQuantity - SafetyStock) AS AvailableBuffer
    FROM dbo.Inventory
    WHERE (QuantityOnHand - ReservedQuantity) <= SafetyStock * 1.5;
END