/****** Object:  StoredProcedure [dbo].[sp_LogAgentDecision]    Script Date: 6/15/2026 8:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_LogAgentDecision]
    @AgentName      VARCHAR(50),
    @DecisionType   VARCHAR(50),
    @OrderID        VARCHAR(20)     = NULL,
    @InputData      NVARCHAR(MAX)   = NULL,
    @ReasoningChain NVARCHAR(MAX)   = NULL,
    @FoundryIQCite  NVARCHAR(MAX)   = NULL,
    @FabricIQEntity NVARCHAR(MAX)   = NULL,
    @Decision       NVARCHAR(MAX)   = NULL,
    @Confidence     DECIMAL(5,2)    = NULL,
    @EventPublished VARCHAR(50)     = NULL,
    @ExecutionMs    INT             = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.AgentLog (
        AgentName, DecisionType, OrderID, InputData,
        ReasoningChain, FoundryIQCite, FabricIQEntity,
        Decision, Confidence, EventPublished, ExecutionMs
    )
    VALUES (
        @AgentName, @DecisionType, @OrderID, @InputData,
        @ReasoningChain, @FoundryIQCite, @FabricIQEntity,
        @Decision, @Confidence, @EventPublished, @ExecutionMs
    );
END;