/****** Object:  StoredProcedure [dbo].[sp_UpdateSLAStatus]    Script Date: 6/15/2026 8:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_UpdateSLAStatus]
    @OrderID        VARCHAR(20),
    @SLAStatus      VARCHAR(20),
    @BreachRisk     DECIMAL(5,2),
    @EscalationLevel VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.SLA
    SET SLAStatus       = @SLAStatus,
        BreachRisk      = @BreachRisk,
        EscalationLevel = @EscalationLevel,
        UpdatedAt       = GETDATE()
    WHERE OrderID = @OrderID;

    UPDATE dbo.Orders
    SET SLAFlag   = CASE WHEN @SLAStatus IN ('Warning','Breach','Critical') THEN 1 ELSE 0 END,
        UpdatedAt = GETDATE()
    WHERE OrderID = @OrderID;
END;