/****** Object:  StoredProcedure [dbo].[sp_UpdateDeliveryStatus]    Script Date: 6/15/2026 8:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_UpdateDeliveryStatus]
    @OrderID      VARCHAR(20),
    @Status       VARCHAR(30),
    @DelayMinutes INT      = 0,
    @ActualETA    DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Deliveries
    SET Status       = @Status,
        DelayMinutes = @DelayMinutes,
        ActualETA    = @ActualETA,
        UpdatedAt    = GETDATE()
    WHERE OrderID = @OrderID;
END;